In [1]:
import pandas as pd
from pylab import rcParams
# some display options to make figures bigger
pd.set_option('display.max_columns', 25)
rcParams['figure.figsize'] = (17, 7)

In [2]:
import os
from dotenv import load_dotenv, find_dotenv

# find .env automagically by walking up directories until it's found
dotenv_path = find_dotenv()

# load up the entries as environment variables
load_dotenv(dotenv_path)

PROJECT_DIR = os.path.dirname(dotenv_path)
BASE_URL = os.environ.get("BASE_URL")
EXTERNAL_DATA_DIR = PROJECT_DIR + os.environ.get("EXTERNAL_DATA_DIR")
RAW_DATA_DIR = PROJECT_DIR + os.environ.get("RAW_DATA_DIR")
INTERIM_DATA_DIR = PROJECT_DIR + os.environ.get("INTERIM_DATA_DIR")
PROCESSED_DATA_DIR = PROJECT_DIR + os.environ.get("PROCESSED_DATA_DIR")
files=os.environ.get("FILES").split()

In [3]:
househld=pd.read_csv(RAW_DATA_DIR+'/househld.csv')
family=pd.read_csv(RAW_DATA_DIR+'/familyxx.csv')
persons=pd.read_csv(RAW_DATA_DIR+'/personsx.csv')
samadult=pd.read_csv(RAW_DATA_DIR+'/samadult.csv')

In [4]:
househld

,INTV_QRT,INTV_MON,LIVQRT,ACPTCHLD,REJ_PER,REJ_FAM,ACPT_PER,ACPT_FAM,NON_INTV,RECTYPE,SRVY_YR,HHX,REGION,WTIA_HH,WTFA_HH,STRAT_P,PSU_P
0,1,3,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,1,2,3052.5,0,108,2
1,1,3,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,2,1,2497.5,0,47,2
2,1,3,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2015,3,1,1086.7,0,19,2
3,1,1,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,4,3,3330.0,3330,163,2
4,1,3,1,2.0,0.0,0.0,4.0,1.0,NaN,10,2015,5,4,138.7,185,289,2
5,1,2,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,6,1,668.8,0,45,1
6,1,1,1,NaN,NaN,NaN,NaN,NaN,5.0,10,2015,10,1,3330.0,0,31,2
7,1,2,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,11,4,2200.0,4400,274,2
8,1,1,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,13,3,3330.0,4171,199,2
9,1,2,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2015,14,2,436.3,0,114,1
10,1,3,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,16,4,1243.6,1244,258,2
11,1,2,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,18,4,0.0,0,242,2
12,1,2,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,19,3,1086.7,1268,184,1
13,1,1,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,21,1,700.1,1225,36,2
14,1,3,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,22,2,0.0,0,66,1
15,1,1,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,23,4,2664.0,2687,271,1
16,1,3,5,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,24,3,2497.5,3027,141,2
17,1,1,1,3.0,0.0,0.0,5.0,1.0,NaN,10,2015,25,2,1086.7,2173,59,2
18,1,2,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,26,4,348.8,0,294,2
19,1,2,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,27,4,3330.0,3686,243,1
20,1,3,1,2.0,0.0,0.0,4.0,1.0,NaN,10,2015,28,4,624.4,624,296,1
21,1,3,1,2.0,0.0,0.0,3.0,1.0,NaN,10,2015,31,1,1086.7,1328,19,2
22,1,1,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,33,3,1788.0,2012,148,2
23,1,2,5,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,34,1,1243.6,1244,29,1
24,1,3,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,35,3,1928.8,1929,192,1
25,1,2,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,36,4,1261.5,0,266,2
26,1,3,1,2.0,0.0,0.0,4.0,1.0,NaN,10,2015,39,4,138.7,139,289,2
27,1,2,1,1.0,0.0,0.0,3.0,1.0,NaN,10,2015,41,3,2200.0,2200,134,2
28,1,1,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,42,3,270.5,270,124,1
29,1,1,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,43,4,1243.6,0,279,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59140,4,10,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85403,4,257.4,343,294,2
59141,4,12,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85404,1,1243.6,0,15,2
59142,4,12,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85405,3,1838.7,0,146,2
59143,4,11,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85406,4,1738.5,2509,256,1
59144,4,11,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,85408,3,3330.0,3330,222,2
59145,4,12,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85410,2,2583.6,0,89,2
59146,4,10,1,2.0,0.0,0.0,4.0,1.0,NaN,10,2015,85416,3,1253.1,1949,159,1
59147,4,12,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85417,4,3451.4,0,283,1
59148,4,10,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85418,4,43.6,51,293,2
59149,4,10,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,85419,1,3330.0,4026,2,2
59150,4,10,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2015,85421,3,0.0,0,127,1
59151,4,11,1,2.0,0.0,0.0,4.0,1.0,NaN,10,2015,85424,4,2588.5,3897,255,1
59152,4,12,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85426,2,3458.0,3740,104,1
59153,4,11,1,0.0,1.0,1.0,2.0,1.0,NaN,10,2015,85427,4,329.5,439,266,1
59154,4,10,1,NaN,NaN,NaN,NaN,NaN,5.0,10,2015,85431,3,408.8,0,24,2
59155,4,11,98,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85432,4,0.0,0,265,1
59156,4,10,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85433,3,2200.0,2200,195,1
59157,4,12,1,2.0,0.0,0.0,4.0,1.0,NaN,10,2015,85434,2,2009.9,2433,72,1
59158,4,11,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2015,85435,3,1117.5,0,150,2
59159,4,11,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85437,3,1757.5,2929,170,1
59160,4,10,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85438,3,408.8,0,24,1
59161,4,12,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85439,1,3330.0,0,41,1
59162,4,12,1,0.0,0.0,0.0,2.0,1.0,NaN,10,2015,85440,2,2003.6,2671,78,2
59163,4,11,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,85442,1,3448.9,6898,7,1
59164,4,12,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85443,3,0.0,0,158,2
59165,4,11,1,0.0,0.0,0.0,1.0,1.0,NaN,10,2015,85444,2,469.9,587,111,2
59166,4,10,1,NaN,NaN,NaN,NaN,NaN,1.0,10,2015,85445,3,2006.0,0,216,1
59167,4,10,1,0.0,0.0,0.0,3.0,2.0,NaN,10,2015,85446,1,1850.1,1850,30,1
59168,4,10,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2015,85447,3,866.5,0,195,2
59169,4,12,1,NaN,NaN,NaN,NaN,NaN,2.0,10,2015,85448,1,369.3,0,44,1

In [5]:
non_response_code=househld['NON_INTV']

In [6]:
non_response_code

0        1.0
1        1.0
2        2.0
3        NaN
4        NaN
5        1.0
6        5.0
7        NaN
8        NaN
9        2.0
10       NaN
11       1.0
12       NaN
13       NaN
14       1.0
15       NaN
16       NaN
17       NaN
18       1.0
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       1.0
26       NaN
27       NaN
28       NaN
29       1.0
        ...
59140    NaN
59141    1.0
59142    1.0
59143    NaN
59144    NaN
59145    1.0
59146    NaN
59147    1.0
59148    NaN
59149    NaN
59150    2.0
59151    NaN
59152    NaN
59153    NaN
59154    5.0
59155    1.0
59156    NaN
59157    NaN
59158    2.0
59159    NaN
59160    1.0
59161    1.0
59162    NaN
59163    NaN
59164    1.0
59165    NaN
59166    1.0
59167    NaN
59168    2.0
59169    2.0
Name: NON_INTV, dtype: float64

In [7]:
import math

responded=[math.isnan(x) for x in non_response_code]
non=[not math.isnan(x) for x in non_response_code]


responses=househld[responded]
nonresp=househld[non]

In [8]:
non_intv_group=nonresp.groupby('NON_INTV')

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
plt.hist([1,3,5,2,3,2,1,2,4,5,4,3,2])
plt.show()

In [ ]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt

for name, group in non_intv_group:
    print(name)
    months=group['INTV_MON']
    group[['INTV_MON']].plot(type='hist')
    plt.show()